{
  "ignore": [
    "images",
    "views/powerbi-query.m",
    "views/README.md",
    "views/workbooks/README.md",
    "last-deployment-state.json",
    "runbooks/README.md",
    "runbooks/data-collection/README.md",
    "runbooks/maintenance/README.md",
    "runbooks/recommendations/README.md",
    "runbooks/remediations/README.md",
    "model/README.md"
  ]
}
