PROJECT_CONNECTION_STRING="eastus.api.azureml.ms;x;rg-x;x"
AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME=gpt-4o-2
AZURE_INFERENCE_ENDPOINT="https://xxxxx.services.ai.azure.com/models"
AZURE_INFERENCE_KEY=""
MODEL_NAME=DeepSeek-R1
AZURE_OPENAI_MODEL_NAME="gpt-4.1-nano"
OPEN_AI_ENDPOINT="https://xxxxx.openai.azure.com/"
TAVILY_API_KEY="" #Optional, for web search
AZURE_MONITOR_CONNECTION_STRING="InstrumentationKey=x-x-x-x-x;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/;ApplicationId=x-x-x-x-x"
ADX_CLUSTER_URL= "https://x.x.kusto.windows.net"
ADX_DATABASE= "x"
PROMPT_PATH="../agent_instructions/finley_agent.txt"
MAX_TOOL_OUTPUT_LENGTH=1048576
FRONTEND_ORIGIN="http://localhost:5173"
MAX_TOOL_OUTPUT_LENGTH=1048576