.ftk-version {
  background-color: #6f4bb2;
  color: #fff;
  position: absolute;
  top: -0.125em;
  margin-left: 0.75em;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  font-size: 0.7em;
  font-weight: 500;
  display: inline-block;
}

a.ftk-externallink:hover::after {
  content: '🡥';
  opacity: 0.8;
  margin-left: 0.5em;
  text-decoration: none;
}

.ftk-btnlink {
  background-color: transparent;
  box-shadow: none;
  font-weight: normal;
  text-decoration: default;
}

.ftk-gallery {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 1.5rem -1.25rem 0 0;

  .ftk-tile {
    display: inline-block;
    margin: 0 1.25rem 1.5rem 0;
    width: 30%;

    div {
      margin-bottom: 0.5rem;

      &:first-child {
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: 500;
      }
    }
  }
}

.ftk-instructions {
  .ftk-step {
    .ftk-accordion,
    & > div {
      padding: 1.5rem;
      width: 100%;
    }
    .ftk-accordion {
      background-color: #eef;
      cursor: pointer;
      border: none;
      outline: none;
      text-align: left;
      transition: 0.4s;

      &:after {
        content: '\02795'; /* Unicode plus (+) */
        font-size: 0.8125rem;
        color: #777;
        float: right;
        margin-left: 5px;
      }
    }
    &.ftk-active .ftk-accordion {
      background-color: #ddf;
    }
    .ftk-accordion:hover {
      background-color: #ccf;
    }
    &.ftk-active .ftk-accordion:after {
      content: '\2796'; /* Unicode minus (-) */
    }
    & > div {
      background-color: #f9f9ff;
      display: none;
      overflow: hidden;
      margin-bottom: 1.5rem 1.5rem;
    }
    &.ftk-active > div {
      display: block;
    }
  }
}
