.ftk-showcase-container {
  background: url('ShowcaseBackground.png');
  background-size: contain;
  background-repeat: round;
  height: 375px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  .ftk-showcase-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--colorNeutralForegroundStaticInverted);
    max-width: 580px;
    align-items: center;

    span {
      text-align: center;
    }

    .ftk-showcase-actions {
      display: flex;
      gap: 20px;
    }
  }
}
