{
  "ignore": [
    "errors.json",
    "modules/README.md",
    "modules/scripts/README.md",
    "schemas/README.md",
    "test"
  ],
  "variableExpansion": [
    "dashboard.json",
    "finops-hub-dashboard.json"
  ],
  "move": [
    {
      "path": "dashboard.json",
      "destination": "../finops-hub-dashboard.json"
    }
  ],
  "combineKql": [
    {
      "name": "finops-hub-fabric-setup-Ingestion.kql",
      "files": [
        "modules/scripts/OpenDataFunctions_resource_type_1.kql",
        "modules/scripts/OpenDataFunctions_resource_type_2.kql",
        "modules/scripts/OpenDataFunctions_resource_type_3.kql",
        "modules/scripts/OpenDataFunctions_resource_type_4.kql",
        "modules/scripts/OpenDataFunctions_resource_type_5.kql",
        "modules/scripts/OpenDataFunctions.kql",
        "modules/scripts/Common.kql",
        "modules/scripts/IngestionSetup_HubInfra.kql",
        "modules/scripts/IngestionSetup_RawTables.kql",
        "modules/scripts/IngestionSetup_v1_0.kql"
      ]
    },
    {
      "name": "finops-hub-fabric-setup-Hub.kql",
      "files": [
        "modules/scripts/Common.kql",
        "modules/scripts/HubSetup_OpenData.kql",
        "modules/scripts/HubSetup_v1_0.kql",
        "modules/scripts/HubSetup_v1_2.kql",
        "modules/scripts/HubSetup_Latest.kql"
      ]
    }
  ]
}
