{
  "ignore": [
    "test",
    "workbooks/.gitignore"
  ],
  "variableExpansion": [],
  "move": [
    {
      "path": "../../release/governance-workbook",
      "destination": "workbooks/governance",
      "ignore": [
        "azuredeploy*.json",
        "bicepconfig.json",
        "createUiDefinition.json",
        "metadata.json",
        "README.md"
      ]
    },
    {
      "path": "../../release/optimization-workbook",
      "destination": "workbooks/optimization",
      "ignore": [
        "azuredeploy*.json",
        "bicepconfig.json",
        "createUiDefinition.json",
        "metadata.json",
        "README.md"
      ]
    }
  ]
}
